.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchDiv{ 
  background-color: lightslategray;
}
.title-search{
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  justify-content: right;
  width: 30%;
}

.centerBlock {
  margin: auto;
}

.container-header {
  text-align:center;
  width: 100%;
}

.space-between {
  justify-content: space-between !important;
}

.container-comment {
  display: flex;
  justify-content: center;
}