.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #535761;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchDiv{ 
  background-color: lightslategray;
}
.title-search{
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  justify-content: right;
  width: 30%;
}

.centerBlock {
  margin: auto;
}

.container-header {
  text-align:center;
  width: 100%;
}

.space-between {
  justify-content: space-between !important;
}

.container-comment {
  display: flex;
  border: 2px solid grey;
  margin-top: 3px;
}

.scrollable-list {
  overflow: hidden;
  overflow-y: scroll;
}

.container-comment-buttons{
  display:inline-block;
  width:50%;
}

.right-edit {
  display: flex !important;
  justify-content: end;
}

.left-comment {
  display: flex !important;
  justify-content: start;
}